body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #003b95; /* Blue background */
    color: white;
    padding: 20px;
    text-align: center;
}

.container {
    display: flex;
    height: calc(100vh - 60px); /* Full height minus header */
}

.left-column {
    flex: 1;
    background: #e7f3fe;
    display: flex;
    height: auto;
    width: auto;
    
}

.right-column {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.travel-image {
    max-width: 100%;
    height: auto;
}

.signup-box {
    background: #007bff; /* Blue background for sign-up box */
    color: white;
    padding: 40px; /* Increased padding for larger box */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%; /* Responsive width */
    max-width: 500px; /* Increased max width */
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
}

button {
    background: #28a745;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background: #218838;
}

a {
    color: #ffc107; /* Yellow link color */
}

a:hover {
    text-decoration: underline;
}
